@use "sass:map";

.container {
  max-width: map-get($breakpoints-max-widths, "xxl");
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

@each $name, $media in $breakpoints-max-widths {
  @media (min-width: $media) {
    .container-#{$name} {
      max-width: $media;
      width: 100%;
      margin: 0 auto;
      padding: 1rem;
    }
  }
}
