// d-flex
.d-flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}

@each $name, $value in $flex-property {
  .align-items-#{$name} {
    align-items: $value;
  }
  .justify-content-#{$name} {
    justify-content: $value;
  }
}

// d-none
.d-none {
  display: none;
}
@each $name, $media in $breakpoints {
  @media (max-width: $media) {
    .d-#{$name}-none {
      display: none !important;
    }
  }
}
