.l-dashboard {
  min-height: 100vh;

  header {
    grid-area: header;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  aside {
    grid-area: aside;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  main {
    grid-area: main;
  }

  @media (min-width: 540px) {
    display: grid;
    grid-template-columns: 240px auto;
    grid-template-rows: 80px auto;
    grid-template-areas:
      "aside header"
      "aside main";
  }
}
