.c-input {
  min-height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: border 250ms ease;
  position: relative;

  &__fieldset {
    width: calc(100% + 2px);
    padding-inline: 16px;
    height: 52px;
    border-radius: inherit;
    position: absolute;
    left: -1px;
    top: -13px;
    border: 1px solid transparent;

    &__legend {
      padding-inline: 4px;
      line-height: 24px;
      opacity: 0;
    }

    &__label {
      position: absolute;
      left: 20px;
      top: -5px;
      z-index: 2;
      transition: translate 350ms linear;
    }

    &__input {
      width: 100%;
      height: 100%;
      translate: 0 -7px;
      font-size: 16px;
      border: none;
      outline: none;

      &:not(:placeholder-shown),
      &:invalid {
        border-color: hsl(0, 76%, 50%) !important;
      }
    }
  }

  &:has(:focus),
  &:has(input:not(:placeholder-shown)) {
    border-color: transparent;
    .c-input__fieldset {
      border-color: rgba(0, 0, 0, 0.2);

      &__label {
        transition: translate 350ms linear;
        translate: 0 -18px;
      }
    }
  }
}
