.c-menu-list {
  padding-block: 8px;
  border-radius: 4px;
  width: 100%;

  &__item {
    font-size: 16px;
    transition: background-color 250ms ease;
    display: flex;
    color: #333333;
    transition: all 250ms ease;

    &:hover,
    &.active {
      background-color: #673ab7;
      color: #ffffff;
    }

    > * {
      width: 100%;
      height: 100%;
      padding: 6px 16px;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
